flask
sentence-transformers
nltk
numpy
pandas
python-docx
PyPDF2
scikit-learn
joblib
huggingface_hub
datasets
transformers
torch
gensim
scipy
google-generativeai
python-dotenv
fastapi
uvicorn
pymongo
motor
pydantic
python-multipart
gunicorn
bcrypt
PyJWT